 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    margin: 0px;
}

.nav-bar {
    display: flex;
    background-color: rgb(24, 24, 24);
    top: 0;
    padding-bottom: 0px;
    margin-top: 0px;
    margin: 0px;
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    margin-left: 0px;
    margin-right: 50px;
    background-color: black;
    width: 250px;
    align-items: center;
    
}

.logoz {
    width: 250px;
    padding-left: 0px;
    height: 100px;
}


.nar-links {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-left: 300px;
    padding-top: 30px;
    position: fixed;

}

 a:hover {
    color: rgba(255, 0, 0, 0.8);
    /* font-size: 20px; */
}

li a {
    padding-right: 40px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-right: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative;
  display: inline-block; */
  color: white;
  font-size: 18px;
  padding-right: 28px;
  cursor: pointer;
}

.dropdown:hover {
    color: rgba(255, 0, 0, 0.8);
    /* font-size: 20px; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: #fff;
  min-width: 150px;
  box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 30px;
}


.dropdown-content a:hover {
    background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.up {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6) url(/Random/img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    
}

.up h1 {
    padding: 8px;
    color: white;
    font-size: 64px;
    background: rgba(255, 0, 0, 0.8);
    font-size: 40px;
    border-radius: 10px;
    text-align: center;
    
}

.up-inner h2 {
    background-color:#000;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.middle {
    width: 100%;
}

.first-middle {
    width: 100%;
    position: fixed;
}
.first-middle h1 {
    font-size: 32px;
    border-left: 3px solid #000;
    border-right:3px solid #000;
    padding-left: 10px;

}

.first-middle {
    padding: 40px;
}

.first-middle > h1 {
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: fit-content;
    margin-bottom: 10px;
    padding-right: 5px;
}

.top-middle {
    display: flex;
    
}

.left-top img {
    width: 600px;
}

.right-top img {
    width: 600px;
    margin-left: 50px;
}

.left-top > h2 {
    padding: 10px;
}

.left-top > ul {
    list-style-type: none;
    margin-left: 20px;
    
}



li {
    padding: 10px;
}

.read-0ne {
    align-items: center;
    text-align: center;
    font-size: 20px;  
    background-color: #fff;  
    margin-left: 250px;
    margin-top: 20px;
}

.right-top > h2 {
    margin-left: 70px;
    margin-top: 10px;
}

.right-top > ul{
    list-style-type: none;
    margin-left: 5rem;
}

.right-top img {
    height: 383px;
}

.right-btn {
    margin-top: 70px;
}

.read-two {
    align-items: center;
    text-align: center;
    font-size: 20px;  
    background-color: #fff;  
    margin-left: 250px;
    margin-top: 30px;
}

.down-middle {
    padding: 40px;
    display: flex;
}

.project{
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: fit-content;
    margin-bottom: 10px;
    padding-right: 5px;
    margin-left: 40px;
    padding-left: 5px;
}

.up-down {   
    display: flex;
    margin: 20px; 
}

.up-down img {
    width: 600px;
}


.third-top h2 {
    margin-top: 10px;
}

.third-top > img {
    margin-right: 50px;
    height: 340px;
}

.third-top ul {
    list-style-type: none;
    margin-left: 2rem;   
}

.third-top h2 {
    margin-left: 10px;
}

.third-top h2:hover {
    font-size: 28px;
    text-decoration: underline;
}

.third-read {
    align-items: center;
    text-align: center;
    font-size: 20px;  
    background-color: #fff;  
    margin-left: 250px;
    margin-top: 30px;
}

.fourth-top h2 {
    margin-top: 10px;
    margin-left: 10px;
}

.fourth-top h2:hover {
    font-size: 28px;
    text-decoration: underline;
}

.fourth-top ul {
    list-style-type: none;
    margin-left: 2rem;
}

.fourth-top img {
    height: 340px;
}

.fourth-read {
    align-items: center;
    text-align: center;
    font-size: 20px;  
    background-color: #fff;  
    margin-left: 250px;
    margin-top: 30px;
}

.second-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    cursor: pointer;
}

#about:hover {
    color: red;
    font-size: 35px;
}

.how-to {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.watsapp img {
    top: 0px;
}

.second-middle h1 {
    padding-bottom: 20px;
}

.second-middle p {
    font-size: 25px;
    font-weight: large;
    margin-bottom: 20px;
    font-family: serif;
    text-align: center;
}

.first-read {
    margin-top: 24px;
}

.contact {
    text-align: center;
    margin-bottom: 50px;
}

.words {
    font-size: 30px;
}

.watsapp {
    margin-top: 20px;
}
.git {
    padding: 10px;
    font-size: larger;
    background-color: #fff;
    box-shadow: 0px 8px 15px -6px;
    margin-bottom: 40px;
}

footer {
    background-color: black;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100vh; */
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 80px;
}


.foot-but {
    display: flex;
    margin: 0px;
    margin-left: 0px;
}

.left-bottom {
    margin-top: 40px;
    margin-left: 0px;
    padding-left: opx;
}

.left-bottom ul li{
    list-style-type: none;
    padding: 4px;
}



.git a {
    text-decoration: none;
    color: #000;
}

.git a:hover{
    font-size: 25px;
    cursor: pointer;
}


.bottom-links {
    padding-top: 30px;
}

.correct {
    display: flex;
    margin: 30px;
}

.right-bottom {
    margin-left: 150px;
    margin-top: 40px;
}

.socials a {
    color: white;
    text-decoration: none;
    margin-top: 0px;
}


.socials img {
    width: 30px;
    top: 20px;
}

.up-down {
    display: flex;
}
/* .say {
    padding-top: 100px;
    margin-bottom: 0px;
} */

